.dropdown {
	&__btn {
		display: flex;
		align-items: center;
	}

	&__arrow {
		margin-top: 2px;

		svg {
			fill: #FFF;
		}
	}
}

.username {
	color: #FFF;
	font-weight: 700;
	font-size: 16px;
}

.exit-btn {
	align-items: center;
}
